# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env*.local

# banco local (caso alguém rode com SQLite num teste rápido)
*.db
*.db-journal

# vercel
.env.production.local
.vercel

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vitest
/coverage
.env*
